* {
    border: solid;
    border-width: 1px;
    box-sizing: border-box;
    background-color: #fcfae8;
}

svg {
    position: absolute;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 20px;
}

.left-column {
    padding: 10px;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
    font-size: 25px;
    color: #0D47A1;
    float: left;
}

.middle-column {
    padding: 10px 20px;
    /*border-radius: 10px;*/
    /* background-color: rgba(207, 216, 220,.5);*/
    /*border-left: double;*/
    border-color: #0D47A1;
    text-align: justify;
    float: left;
}

.right-column {
    padding: 10px;
    float: left;
}

.drawing {
    position: relative;
}